<!DOCTYPE html>
<html>
  <head>
    <title>CVS File upload</title>
    <link href="../css/styleLoader.css" rel="stylesheet" type="text/css" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700"
      rel="stylesheet"
    />
    <style>
      html,
      body {
        display: flex;
        align-items: center;
        flex-direction: column;
        font-family: Roboto, Arial, sans-serif;
        font-size: 15px;
      }
      form {
        border: 5px solid #f1f1f1;
        margin-top: 5%;
      }

      button {
        background-color: #8ebf42;
        color: white;
        padding: 14px 0;
        margin: 10px 0;
        border: none;
        cursor: pointer;
        width: 100%;
      }
      h1 {
        text-align: center;
        font-size: 18px; /* Fixed the typo here */
      }
      button:hover {
        opacity: 0.8;
      }
      .form-container {
        display: flex;
        justify-content: center;
      }
      .formcontainer {
        text-align: left;
        margin: 24px 50px 12px;
      }
      .container {
        padding: 16px 0;
        text-align: left;
      }
      span.psw {
        float: right;
      }

      /* Change styles for span on extra small screens */
      @media screen and (max-width: 300px) {
        span.psw {
          display: block;
          float: none;
        }
      }
    </style>
  </head>
  <body>
    <div class="lds-facebook hide">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="form-container">
      <form
        id="form"
        action="/CSV/upload"
        enctype="multipart/form-data"
        method="post"
      >
        <h1>CVS File upload</h1>
        <div class="formcontainer">
          <hr />
          <div class="container">
            <label for="uname"><strong>CSV File</strong></label>
            <input type="file" name="csvFile" required />
          </div>
          <button type="submit">Upload</button>
        </div>
      </form>
    </div>
  </body>
</html>

<script>
  const LoaderElement = document.querySelector(".lds-facebook");
   LoaderElement.addEventListener("focusin", () => {
   
   })
  console.log("clicked");
  document.querySelector("#form").addEventListener("submit", (e) => {
    LoaderElement.classList.remove("hide");
  });
</script>
